@font-face {
  font-family: 'fontello';
  src: url('../fontello.eot?76984656');
  src: url('../fontello.eot?76984656#iefix') format('embedded-opentype'),
       url('../fontello.woff2?76984656') format('woff2'),
       url('../fontello.woff?76984656') format('woff'),
       url('../fontello.ttf?76984656') format('truetype'),
       url('../fontello.svg?76984656#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76984656#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-heart:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-up-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-down-open:before { content: '\e807'; } /* '' */
.icon-down-dir:before { content: '\e808'; } /* '' */
.icon-up-dir:before { content: '\e809'; } /* '' */
.icon-left-dir:before { content: '\e80a'; } /* '' */
.icon-right-dir:before { content: '\e80b'; } /* '' */
.icon-chart-bar:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80d'; } /* '' */
.icon-help:before { content: '\e80e'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
